html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #201c2b;
  margin-bottom: 4rem;
}

h2, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  color: #fff;
}

h3 {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  color: #2c2640;
}

h3 + p {
  margin-bottom: .5rem;
}

h3 > a {
  font-weight: 700;
  color: #2c2640;
}

h3 > a:hover {
  color: #2c2640;
  opacity: .5;
  text-decoration: none;
}

p > a {
  color: #2c2640;
}

#main {
  background: #6441a4;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: .25rem;
}

#main > .text-center > img {
  width: 50%;
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-tabs {
  background: #f7f7f7;
  padding-right: .25rem;
  border-radius: .25rem;
  margin-top: 1rem;
}

.nav-link {
  color: #6441a4;
}

.nav-link:hover {
  color: #464a4c;
}

.active {
  border-radius: .25rem;
}

li:nth-of-type(3) {
  margin-right: .25rem;
}

.form-control {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.form-control:focus {
  border: 1px solid #6441a4;
}

.tab-content {
  color: #fff;
}

.col-12 {
  margin-top: 1.5rem;
}

.col-4 > img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: 0 0 .125rem .125rem rgba(255, 255, 255, .25);
}

p + p {
  font-style: italic;
  color: #898395;
}

#offline p {
  font-style: italic;
  color: #898395;
}

.btn {
  color: #fff;
  background: #201c2b;
  border: none;
  margin-bottom: 1rem;
}

.btn:hover {
  background: #2c2640;
  box-shadow: 0 0 .125rem .125rem rgba(0, 0, 0, .5);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
}

.footer > .container > span {
  color: #636c72;
}

.footer > .container > span > a {
  color: #6441a4;
}
